/***************************************************/
/*************Configuracion de colores**************/
/*-------------------------------------------------*/

:root {
  --color1: #ffffff;
  --color2: #222222;
  --color3: #222222;
  --color4: #423f4076;
  --color5: #8E7BEF;
  --color6: #5D3BEF;
  --color7: #F9F6FF;
}


